#list_div {
    height: 250px;
    overflow: auto;
}

#contact_list_item {
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

#cover_photo {
    width: 150px; /* width of container */
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 100px;
}

#return_arrow_svg {
    cursor: pointer;
}

#add_contact_svg {
    cursor: pointer;
}

#main_div {
    /* vertical-align: middle; */
    width: 500px;
    height: 425px;
    /* overflow: auto; */
    /* border: 1px solid; */
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#contact_card {
    border: none;
    height: 410px;
}

#contact_card_details {
    overflow: auto;
}

#contact_card_details {
    width: 100%;
    height: 220px;
    overflow: auto;
}

.add_contact_div {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 450px;
    height: 400px;
    overflow: auto;
}